.menu-section-container {
  min-width: 550px;
  max-width: 550px;
}

.menu-section-logo {
  margin-top: -200px;
}

.menu-section-subtotal {
  float: right;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .menu-section-container {
    max-width: none;
    width: 95vw;
  }

  .menu-section-info {
    font-size: 3em;
  }

  .menu-section-logo {
    min-height: 500px;
    min-width: 500px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .menu-section-header {
    font-size: 3.5em !important;
    border-bottom: 5px solid #EF5350 !important;
  }

  .menu-section-subtotal {
    font-size: 50px;
  }
}
