.menu-item-svg {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 1000px) {
  .menu-item-description {
    font-size: 2.5em;
  }
  .menu-item-name {
    font-size: 3em;
  }
  .menu-item-price {
    font-size: 3.3em;
  }
  .menu-item-market-price {
    font-size: 2.4em;
  }
  .menu-item-svg {
    height: 110px;
    width: 110px
  }
}
